body {
  background-color: rgb(86, 86, 86);
  /* background-image: url(img/CAGE.png); */
  font-family: "DotGothic16", sans-serif;
  color: white;
  text-align: center;
  margin: 0px;
}

ul {
  width: fit-content;
  margin: 0 auto;
}

li {
  text-align: left;
}

a.hide {
  color: white;
  text-decoration: underline rgba(88, 88, 88,0.5) 0.2px;
∏}

.medate {
  background-color: gold;
  margin: 0px;
  padding: 0px;
  font-size: 550%;
}

.gaming {
  /* 横長で虹色を作る */
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
  animation: gaming 2s linear infinite;
}
@keyframes gaming {
  /* backgroundを移動させる */
  100% {
    background-position-x: 200%;
  }
}

.gamingstr {
  animation: rainbow 3s infinite;
}

@keyframes rainbow {
  0% {
    color: #ff0053;
  }
  12% {
    color: #ff5353;
  }
  24% {
    color: #ffcf53;
  }
  36% {
    color: #e8ff53;
  }
  48% {
    color: #53ff5d;
  }
  60% {
    color: #53ffbc;
  }
  72% {
    color: #5393ff;
  }
  84% {
    color: #ca53ff;
  }
  100% {
    color: #ff53bd;
  }
}
