body {
  background-color: black;
  background-image: url(../img/CAGEToumei.png);
  font-family: "DotGothic16", sans-serif;
  text-align: center;
  color: white;
}

img {
  width: 80%;
  height: 80%;
}

h1 {
  font-size: 200%;
}

h2 {
  display: table-caption;
  line-height: 1em;
  font-family: "Mochiy Pop P One", sans-serif;
  letter-spacing: 3px;
  font-size: 4.8em;
  margin: 0px;
  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
  background: -webkit-linear-gradient(left, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
  background: -o-linear-gradient(right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
  background: -moz-linear-gradient(right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.syoukizyanai {
  width: 50%;
  overflow-wrap: break-word;
  margin-bottom: -7em;
  position: relative;
  z-index: 2;
}

@media all and (min-width: 800px) {
  h2 {
    font-size: 7.8em;
  }
}
